doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= title
    form(action="/update-cobj" method="POST")
      label(for="name") Name:
      input(type="text" name="name" required)
      br
      label(for="author") Author:
      input(type="text" name="author")
      br
      label(for="genre") Genre:
      input(type="text" name="genre")
      br
      button(type="submit") Submit
    a(href="/") Return to the homepage


