doctype html
html
  head
    title= title
  body
    h1= title
    form(action="/update-cobj" method="POST")
      label(for="name") Nombre:
      input(type="text" name="name" required)
      br
      label(for="author") Autor:
      input(type="text" name="author")
      br
      label(for="genre") Genero:
      input(type="text" name="genre")
      br
      button(type="submit") Enviar
    a(href="/") Regresar


